.hero{
  background:no-repeat url('../../Images/homeExplore.svg') ;
  background-size: cover;
  height: 100vh;
  @media screen and (min-width:768px) and (max-width: 1024px) {
    background:no-repeat url('../../Images/tabbg.svg') ;
    background-size: cover;
    height: 100%;
  }
  @media screen and (min-height:1180px) and (max-height: 1366px) {
    height: 100vh
  }
  @media screen and (max-height: 667px) {
    height: 100%;
  }
  @media screen and (max-width:414px) and (min-height: 668px){
    background:no-repeat url('../../Images/tabbg.svg') ;
    background-size: cover;
    height: 100vh;
  }
}
.hero-explore{
  padding: 15.6875rem 10.25rem 8.188rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  @media screen and (min-width:0px) and (max-width: 1024px) {
    padding: 6.625rem 4rem 5.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
  }
  @media screen and (max-width:414px) {
    padding: 58px 0;
  }
  .hero-text{
    width: 450px;
    @media screen and (min-width:768px) and (max-width: 1024px) {
      padding-bottom: 9.75rem;
    }
    @media screen and (max-width:414px) {
      width: 324px;
      padding-bottom: 5.06275rem;
    }
    h4{
      text-transform: uppercase;
      font-size: 28px;
      font-weight: 400;
      letter-spacing:4.725px;
      color: #D0D6F9;
      font-family: 'Barlow Condensed';
      margin: 0;
    }
    h1{
      font-family: 'Bellefair';
      font-style: normal;
      font-weight: 400;
      font-size: 150px;
      line-height: 172px;
      color: white;
      text-transform:uppercase;
      margin: 0;
      margin-top: 1.5rem;
      @media screen and (max-width:414px) {
        font-size: 80px;
        line-height: 100px;
      }
    }
    h6{
      font-family: 'Barlow';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 32px;
      color: #D0D6F9;
      text-align: left;
      margin: 0;
      margin-top: 24px;
      @media screen and (min-width:0px) and (max-width: 1024px) {
        text-align: center ;
      }
      @media screen and (max-width:414px) {
        font-size: 15px;
        line-height: 25px;
      }
    }
  }
  .hero-btn{
    width: 17.125rem;
    height: 17.125rem;
    border-radius: 50%;
    font-size: 2rem;
    font-family: 'Bellefair';
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0B0D17;
    position: relative;
    cursor: pointer;
    letter-spacing: 2px;
    text-transform: capitalize;
    font-weight: 400;
    @media screen and (max-width: 769px) {
      width: 15.125rem;
      height: 15.125rem;
    }
    @media screen and (max-width:414px) {
      width: 9.375rem;
      height: 9.375rem;
      font-size: 20px;
    }
  }
  .hero-btn:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    left: 0;
    top:0;
    width: 17.125rem;
    height: 17.125rem;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px rgba(255, 255, 255, 0.385);
    @media screen and (max-width: 769px) {
      width: 15.125rem;
      height: 15.125rem;
    }
    @media screen and (max-width:414px) {
      width: 9.375rem;
      height: 9.375rem;
      font-size: 20px;
    }
  }
  
  .hero-btn:active:after {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.487);
    position: absolute;
    border-radius: 50%;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
  }
}