.crew{
  background:no-repeat url('../../Images/des.svg') ;
  background-size: cover;
  // height: 100vh;
  @media screen and (min-width:768px) and (max-width: 1025px) {
    background:no-repeat url('../../Images/des.svg') ;
    background-size: cover;
  }
  @media screen and (max-width:414px) and (min-height: 668px){
    background:no-repeat url('../../Images/des.svg') ;
    background-size: cover;
    // height: 100vh;
  }
  .crew-heading{
    height: 58px;
    h4{
      text-align: left;
      font-family: 'Barlow Condensed';
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 34px;
      letter-spacing: 4.725px;
      text-transform: uppercase;
      color: white;
      margin: 0;
      padding-top: 76px;
      padding-left: 10.375rem;
      @media screen and (max-width:1024px) {
        margin-top:40px;
        padding-top: 0px;
        margin-left:38.5px;
        padding-left: 0;
      }
      @media screen and (min-width:320px) and (max-width: 767px){
        margin-top:0px;
        font-size: 1rem;
        padding-top: 0px;
        margin-left:0;
        text-align: center;
      }
    span{
      font-weight: 700;
      color: #ffffff52 ;
    }
  }
}
  .hero-crew{
    display: flex;
    align-items:flex-end;
    justify-content:space-between;
    padding-left:10.375rem;
    padding-right:8.563rem;
    height:78.4995%;
    @media screen and (min-width:450px) and (max-width: 1024px) {
      padding: 60px 4rem 0rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content:center;
      text-align: center;
    }
    @media screen and (min-width:320px) and (max-width: 449px){
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content:center;
      text-align: center;
      padding: 0 1.75rem 3.75rem;
    }
    .hero-crew-image{
      .crew-image{
        position: relative;
        top:4px;
        @media screen and (min-width:415px) and (max-width: 1024px) {
          width: 456.37px;
        }
        @media screen and(min-width:0px) and (max-width:414px) {
          margin: 2rem 0;
          width: 327px;
        }
      }
    }
    .hero-crew-routes{
      text-align: left;
      display: flex;
      flex-direction: column-reverse;
      align-items:flex-start;
      @media screen and (max-width: 1024px){
        align-items: center;
      }
      @media screen and (max-width: 1024px){
        width: 100%;
        margin-top: 32px;
      }
    .crew-info{
      padding-bottom: 10rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @media screen and (max-width: 1024px){
        flex-direction: column-reverse;
        align-items: center;
        width: 458px;
        text-align: center;
      }
      @media screen and (max-width:414px) {
        width: 327px;
        margin-top: -7rem;
      }
      h3{
        font-family: 'Bellefair';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 37px;
        text-transform: uppercase;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.5;
        margin: 0;
      }
      .crew-routes{
        width: 132px;
        height: 15px;
        display: flex;
        align-items:center;
        justify-content:center;
        margin-top: 120px;
        .circ{
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background-color: white;
        }
        @media screen and (max-width: 1024px) {
          display: flex;
          align-items:center;
          justify-content:center;
          flex-direction: column-reverse;
        }
        @media screen and (max-width: 420px) {
          font-size: 14px;
          margin-bottom: 12px;
          padding-bottom: 0;
        }
        ul{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-family: 'Barlow Condensed';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          letter-spacing: 2.7px;
          padding: 0;
          @media screen and (max-width: 420px) {
            font-size: 14px;
            padding-bottom: 18px;
          }
          li{
            list-style: none;
            margin: 0;
            color:#FFFFFF;
            a{
              color: white;
              mix-blend-mode: normal;
              opacity: 0.17;
              text-decoration: none;
              text-transform: uppercase;
              ::active{
                color: white;
                opacity: 1;
              }
              ::hover{
                mix-blend-mode: normal;
                opacity: 0.5;
              }
            }
          }
        }
      }
      .crew-geo{
        @media screen and (max-width:414px) {
          flex-direction: column;
          .dist{
            margin-bottom: 32px;
          }
        }
        h4{
          font-family: 'Barlow Condensed';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          letter-spacing: 2.3625px;
          text-transform: uppercase;
          color: #D0D6F9; 
          margin: 0;
          margin-bottom: 12px;
        }
      }
      h1{
        font-family: 'Bellefair';
        font-style: normal;
        font-weight: 400;
        font-size: 56px;
        line-height: 64px;
        color: white;
        text-transform:uppercase;
        margin: 0;
        margin-top: 1rem;
        @media screen and (max-width:1024px) {
          font-size: 40px;
          line-height: 45.84px;
          text-align: center;
          margin-bottom: 1rem;
        }
      }
      h6{
        width: 445px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        color: #D0D6F9;
        margin: 0;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-top: 28px;
        // margin-bottom: 120px;
        @media screen and (min-width:0px) and (max-width: 1024px) {
          width: 458px;
          text-align: center;
          font-size: 16px;
          line-height: 28px;
        }
        @media screen and (max-width:414px) {
          width: unset;
          font-family: 'Barlow';
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 25px;
          margin-top: 0;
          margin-bottom: 2rem;
        }
      }
    }
  }
}
}